:root {
    --black: hsl(197, 100%, 10%);

    // --gradient-dark: #440F50;
    // --gradient-middle: #7B356B;
    // --gradient-light: #B15B86;

    --gradient-dark: #020344;
    --gradient-middle: #155E8D;
    --gradient-light: #28B8D5;

    // --gradient-dark: #08203e;
    // --gradient-middle: #2D4C67;
    // --gradient-light: #557c93;

    // --gradient-dark: #10002b;
    // --gradient-middle: #5a189a;
    // --gradient-light: #e0aaff;

    --gradient-dark: #4f0385;
    --gradient-middle: #8b2eaf;
    --gradient-light: #ffb1d6;
}